* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $background-green;

  height: 100vh;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
